 @charset "utf-8";
 /*清楚样式*/
*{margin:0px; padding:0px;}
body{background-color:#f7f7f7; color:#858585;}
/*左侧大的固定盒子*/
.introduce{position:fixed;top:0;left:0;width:30%;height:100%;overflow:hidden;
           background-image:url("../images/back1.jpg");
           background-repeat:no-repeat;
           background-color:#fff;}
/*头像的样式*/
.header{position:relative; margin:25% auto 0;
        width:100px;height:100px;overflow:hidden;
        border:1px solid rgb(112, 190, 145);
        border-radius:50%; background-image:url("../images/header.jpg");}
/*文字介绍*/
.headerword{margin-top:1em;font-size:2em;text-align:center;}
.content {text-align:center;
          font-size:1em;
          color:rgb(14, 150, 120);}
.content span{display:block;
              margin-top:1em;}
/*搜索框样式*/
.inputbox{margin:2em auto 0;width:60%;height:2em;
          border:1px solid rgb(9, 72, 83);}
.inputbox .left{float:left; width:80%; height:2em;font-size:1em;
                background-color:transparent;border:none;}      
.inputbox .right{float:right; width:20%; height:2em;font-size:1em;color:inherit;}